.main-body-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: white;
    margin-top: 2rem;
}

.songs-div {
    display: flex;
    align-items: center;
}

.icons-grid {
    display: flex;
}
