.SideNav-container {
    display: none;
    background-color: #1E1D1E;
    padding: 1.5rem;
}

.SideNav-container .side-nav-title {
    color: white;
    margin: 1rem 0;
}

@media screen and (min-width:500px) {
    .SideNav-container {
        /* flex: 1; */
        display: initial;
        flex-basis: 20%;

    }
    
}

