.side-nav-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    column-gap: 1rem;
    padding-left: 1rem;
    color: white;

}

.side-nav-option-title {
    font-size: 1.1em;
    font-weight: 500;
}

.side-nav-option:hover {
    transition: color 100ms ease-out;
    border-left: 3px solid blue;
    color: blue;
}


.side-nav-option--active{
    color: blue;
}



.side-nav-icons {
    padding: 1rem;
}